:root{
    --text-normal: 14px;
    --text-bigger: 18px;
    --color-main: #2a3582;
    --color-reset:#fff;

    @media screen and (min-width: 1024px) {
        --text-normal: 13px;
        --text-bigger: 16px;
    }
}

html{
    background-color:var(--color-reset);
    color:#000;
    width:100%;
    max-width: 100%;
    height: 100%;
    min-height:100vh;
}

body{
    min-height:inherit;
    overflow: hidden;
    position:relative;
    font-family: 'Arial',sans-serif;
    height:inherit;
    max-width:inherit;
    width:inherit;
    font-size:0;
    letter-spacing:0;
    word-spacing:0;
    -webkit-font-smoothing: antialiased;
}

.layer-content{
    top:0;
    left:0;
    height:inherit;
    min-height:inherit;
    width:100%;
    max-width:inherit;
    position:relative;
    min-width: 300px;
    outline:0;
    text-align: center;
}

a, .link{
    color:var(--color-main);
    text-decoration: none;
}

.error-table{
    width:100%;
    min-height: inherit;
    display: table;

    .error-cell{
        display: table-cell;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;

        .inline{
            display: inline-block;

            .error-block{
                width:100%;
                display: inline-block;

                &.logo{
                    margin-bottom: 20px;

                    .logo{
                        display: inline-block;

                        svg{
                            width:240px;

                            @media screen and (min-width: 767px) {
                                width:200px;
                            }
                        }
                    }
                }

                &.message{
                    margin-bottom: 10px;

                    span{
                        font-size: var(--text-bigger);
                    }
                }

                &.link{
                    span{
                        font-size: var(--text-normal);
                    }
                }
            }
        }
    }
}
