:root {
    --text-size-normal: 14px;
    --text-size-bigger: 18px;
    --color-main: #2a3582;
    --color-reset:#fff;
}

html {
    background-color:var(--color-reset);
    color:#000;
    width:100%;
    max-width: 100%;
    height: 100%;
    min-height:100vh;
}

body {
    min-height:inherit;
    overflow: hidden;
    position:relative;
    font-family: 'Arial',sans-serif;
    height:inherit;
    max-width:inherit;
    width:inherit;
    font-size:0;
    letter-spacing:0;
    word-spacing:0;
    -webkit-font-smoothing: antialiased;
}

.layer.content{
    top:0;
    left:0;
    height:inherit;
    min-height:inherit;
    width:100%;
    max-width:inherit;
    position:absolute;
    min-width: 280px;
    outline:0;
}

a, .link{
    color:var(--color-main);
    text-decoration: underline;
}

.wrapper .layer.content{
    position: relative;
    text-align: center;
}

.error-table{
    width:100%;
    min-height: inherit;
    display: table;
}

.error-table .error-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.error-table .error-cell .inline{
    display: inline-block;
}

.error-table .error-cell .inline .error-block{
    width:100%;
}

.error-table .error-cell .inline .error-block.logo{
    margin-bottom: 20px;
}

.error-table .error-cell .inline .error-block.logo .logo{
    display: inline-block;
}

.error-table .error-cell .inline .error-block.logo .logo svg{
    color:var(--color-main);
    width:240px;
}

.error-table .error-cell .inline .message{
    display: inline-block;
}

.error-table .error-cell .inline .error-block.message{
    margin-bottom: 10px;
}

.error-table .error-cell .inline .message span{
    font-size: var(--text-size-bigger);
}

.error-table .error-cell .inline .link span{
    font-size: var(--text-size-normal);
}

.error-table .error-cell .inline.link{
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    :root {
        --text-size-normal: 13px;
        --text-size-bigger: 16px;
    }

    .error-table .error-cell .inline .error-block.logo .logo svg{
        width:200px;
    }
}
