.ck-editor {
    h1{
        font-weight: 700;
        font-size: 20px;
    }

    h2{
        font-weight: 700;
        font-size: 16px;
    }

    p.class-1{
        color:#777777;
    }

    a{
        background-color: #faffbd;
    }
}
