:root{
    --text-size-small:13px;
    --text-size-normal:16px;
    --text-size-large:22px;
    --color-main:#2a3582;
    --color-background:#e2e4ff;
    --color-background-dark:#d0d2ff;
    --color-highlight:#faffbd;
    --color-gray:#777;
    --color-light-gray-1:#f0f0f0;
    --color-light-gray-2:#eee;
    --color-reset:#fff;
    --color-border:#ddd;
    --color-red:#a80000;
    --color-light-red:#ffdbdb;
    --color-green:#008000;
    --color-light-green:#b3ffa7;
    --top-height:55px;
}

html{
    overflow: hidden;
}

body{
    font-family: 'Play', sans-serif;
    font-size:0;
    letter-spacing:0;
    word-spacing:0;
}

.inline{
    display: inline-block;
    width: inherit;
    min-height: 100vh;
}

body.ltr .inline{
    text-align: left;
}

body.rtl .inline{
    text-align: right;
}

.block{
    width: inherit;
    display: inline-block;
    scroll-behavior: smooth;
}

.block.mobile{
    height: var(--top-height);
    background-color: var(--color-light-gray-2);
}

.block.mobile .table{
    width:inherit;
    height: inherit;
}

.block.mobile .table .cell{
    vertical-align: middle;
}

.block.mobile .table .cell.left{
    text-align: left;
    width:1%;
    white-space: nowrap;
}

.block.mobile .table .cell.center{
    text-align: left;
    width:98%;
}

.block.mobile .table .cell.right{
    text-align: right;
    width:1%;
}

.block.mobile .mobile-icon{
    width:25px;
    height:25px;
    cursor: pointer;
    display: inline-block;
    margin: 15px;
}

.block.mobile .mobile-icon.menu-close{
    display: none;
}

.block.mobile .mobile-icon.menu-close svg{
    width: 21px;
    height: 21px;
    margin: 2px;
}

.block.dropdown{
    position: fixed;
    display: none;
    background-color: var(--color-reset);
    z-index: 8999;
}

.block.dropdown.menu{
    top: var(--top-height);
    left:0;
    height: calc(100vh - var(--top-height) - 1px);
    overflow-y: auto;
    border-top: 1px solid var(--color-background-dark);
}

.block.dropdown.menu .menu .menu-item{
    cursor: default;
}

.block.dropdown.menu .menu .menu-item:last-child{
    border-bottom:1px solid var(--color-background-dark);
}

.block.dropdown.menu .menu .menu-item:last-child:hover .menu-item-block.title{
    cursor: pointer;
    color:var(--color-reset);
    background-color: var(--color-main);
}

.block.dropdown.menu .menu .menu-item .menu-item-block{

}

.block.dropdown.menu .menu .menu-item .menu-item-block.title{
    padding:8px 0;
}

.block.dropdown.menu .menu .menu-item .menu-item-block.title span{
    display: inline-block;
    line-height: 100%;
}

.block.dropdown.menu .menu .menu-item.active .menu-item-block.title span{
    color: var(--color-main);
}

body.ltr .block.dropdown.menu .menu .menu-item .menu-item-block.title span{
    margin-left: 15px;
}

body.rtl .block.dropdown.menu .menu .menu-item .menu-item-block.title span{
    margin-right: 15px;
}

.block.dropdown.menu .menu .menu-item .menu-item-block.dropdown{
    padding-bottom: 20px;
}

.block.dropdown.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid{
    padding:6px 0;
    border-top:1px solid var(--color-background-dark);
}

.block.dropdown.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid:not(.active):hover{
    background-color: var(--color-main);
    color: var(--color-reset);
    cursor: pointer;
}

.block.dropdown.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid.active{
    background-color: var(--color-highlight);
}

.block.dropdown.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid span{
    display: inline-block;
    line-height: 100%;
}

body.ltr .block.dropdown.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid span{
    margin-left: 40px;
}

body.rtl .block.dropdown.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid span{
    margin-right: 40px;
}

.block.dropdown.languages{
    top:15px;
    width: 100px;
}

body.ltr .block.dropdown.languages{
    right:50px;
}

body.rtl .block.dropdown.languages{
    left:50px;
}

.block.dropdown.languages .menu{
    display: inline-block;
    background-color: var(--color-reset);
    border:1px solid var(--color-background-dark);
    width: inherit;
    text-align: left;
}

.block.dropdown.languages .menu .menu-item-kid{
    padding:4px 8px;
    border-bottom: 1px solid var(--color-background-dark);
}

.block.dropdown.languages .menu .menu-item-kid span{
    line-height: 100%;
}

.block.dropdown.languages .menu .menu-item-kid:last-child{
    border-bottom: none;
}

.block.dropdown.languages .menu .menu-item-kid.active{
    background-color: var(--color-highlight);
    cursor:default;
}

.block.dropdown.languages .menu .menu-item-kid:not(.active):hover{
    background-color: var(--color-main);
    color:var(--color-reset);
    cursor: pointer;
}

.block.content{
    overflow-y: auto;
    min-height: calc(100vh - var(--top-height));
    height: calc(100vh - var(--top-height));
}

.block.desktop{
    display: none;
}

.block.main{
    min-width: 300px;
}

.block.main .main-padding-table{
    width:inherit;
}

.block.main .main-padding-table .main-padding-cell{
    vertical-align: top;
    padding:10px 15px 15px;
}

.block.main p.header:first-child{
    margin-top: 0;
}

.block.content p:last-child{
    margin-bottom: 0;
}

@media screen and (min-width: 1024px){
    :root{
        --text-size-small:11px;
        --text-size-normal:14px;
        --text-size-large:18px;
    }

    html{
        overflow: visible;
    }

    .block.mobile{
        display: none;
    }

    .block.dropdown{
        display: none;
    }

    .block.desktop{
        display: block;
    }

    .block.desktop .block.menu{
        border-bottom: 1px solid var(--color-background-dark);
    }

    .block.desktop .block.menu .desktop-menu-table{
        width:inherit;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell{
        vertical-align: middle;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell.left{
        width: 99%;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu{
        display: table;
        height: 24px;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item{
        display: table-cell;
        vertical-align: middle;
        position: relative;
        height: inherit;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item.active{
        background-color: var(--color-highlight);
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item .menu-item-block{

    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item .menu-item-block.title{
        position: relative;
        display: table-cell;
        cursor: default;
        height: inherit;
        vertical-align: middle;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item .menu-item-block.title span{
        line-height: 100%;
        display: inline-block;
        margin:0 15px;
        white-space: nowrap;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item:hover .menu-item-block.title{
        background-color: var(--color-main);
        color:var(--color-reset);
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item .menu-item-block.dropdown{
        position: absolute;
        background-color:var(--color-reset);
        display: none;
        border:1px solid var(--color-main);
        z-index: 8999;
        top:24px;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell.left .menu .menu-item .menu-item-block.dropdown{
        min-width: 180px;
    }

    body.ltr .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell.left .menu .menu-item .menu-item-block.dropdown{
        left:0;
    }

    body.ltr .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell.right .menu .menu-item .menu-item-block.dropdown{
        right:0;
    }

    body.rtl .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell.left .menu .menu-item .menu-item-block.dropdown{
        right:0;
    }

    body.rtl .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell.right .menu .menu-item .menu-item-block.dropdown{
        left:0;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item:hover .menu-item-block.dropdown{
        display: block;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item .menu-item-block.dropdown .menu-item-kid span{
        display: inline-block;
        margin:0 13px;
        padding:4px 0 6px;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item .menu-item-block.dropdown .menu-item-kid.active{
        background-color: var(--color-highlight);
        cursor: default;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell .menu .menu-item .menu-item-block.dropdown .menu-item-kid:not(.active):hover{
        background-color: var(--color-main);
        color:var(--color-reset);
        cursor: pointer;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell.right{
        width:1%;
        padding-right: 2px;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell.right .menu{
        width:100%;
        text-align: left;
    }

    .block.desktop .block.menu .desktop-menu-table .desktop-menu-cell.right .menu .menu-item .menu-item-block.title .icon{
        display: inline-block;
        width:20px;
        height:20px;
        margin:0 4px;
    }

    .block.desktop .block.chain{

    }

    .block.desktop .block.chain .desktop-chain-table{
        width: inherit;
    }

    .block.desktop .block.chain .desktop-chain-table .desktop-chain-cell{
        padding:5px 15px;
        vertical-align: top;
    }

    .block.content{
        overflow-y: unset;
        height: unset;
    }
}

@media screen and (min-width: 1680px){
    .inline{
        width: 1600px;
        border-style: solid;
        border-color: var(--color-background-dark);
        border-width: 0 1px;
    }
}

.hidden{
    display: none;
}

input.disabled,
select.disabled,
textarea.disabled{
    border-color:var(--color-border);
    background-color:var(--color-light-gray-2);
    color:var(--color-gray);
    -moz-filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

a{
    color:var(--color-main);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

table{
    border-collapse:collapse;
    width:100%;
}

table td{
    padding:0;
}

.text{
    font-size:var(--text-size-normal);
}

.text-small{
    font-size:var(--text-size-small);
}

.text-big{
    font-size:var(--text-size-large);
    font-weight: 700;
}

input.input,
textarea.textarea{
    border:0;
    outline:0;
    text-align: inherit;
    width:100%;
    background-color:var(--color-background);
}

input.delete{
    background-color:var(--color-light-red);
    color:var(--color-red);
    -moz-filter:grayscale(0%);
    -webkit-filter:grayscale(0%);
    filter:grayscale(0%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
}

select.select{
    border:0;
    outline:0;
    width:100%;
    background-color:var(--color-background);
    padding:4px;
    cursor: pointer;
}

input.input{
    text-indent: 5px;
    padding:5px 0;
}

input.input:focus,
select.select:focus,
textarea.textarea:focus{
    color:var(--color-main);
    background-color:var(--color-highlight);
}

select.select:not(.disabled):hover{
    cursor: pointer;
}

select.disabled{
    cursor: not-allowed;
}

textarea.textarea{
    resize: none;
    width:calc(100% - 10px);
    padding:5px;
}

select.h120,
textarea.h120{
    height:120px;
}

select.h250,
textarea.h250{
    height:250px;
}

select.h400,
textarea.h400{
    height:400px;
}

.chain{
    display: inline-block;
}

.chain:after{
    content: '»';
    padding:0 5px;
}

.chain:last-child:after{
    display: none;
}

table.info thead tr th,
table.info tbody tr td{border-style:solid;border-width:1px;}

table.info thead tr th{padding:5px 8px 3px;vertical-align:middle;white-space:nowrap;border-top-width:0;background-color:var(--color-background);border-color:var(--color-background-dark);border-bottom-width:0;}
table.info thead tr th span{font-weight:400;color:var(--color-gray);line-height:100%;}
table.info thead tr th.col-1{width:8.33%;}
table.info thead tr th.col-2{width:16.66%;}
table.info thead tr th.col-3{width:25%;}
table.info thead tr th.col-4{width:33.33%;}
table.info thead tr th.col-5{width:41.66%;}
table.info thead tr th.col-6{width:50%;}
table.info thead tr th.col-7{width:58.33%;}
table.info thead tr th.col-8{width:66.66%;}
table.info thead tr th.col-9{width:75%;}
table.info thead tr th.col-10{width:83.33%;}
table.info thead tr th.col-11{width:91.66%;}
table.info thead tr th.col-12{width:100%;}
table.info thead tr th:first-child{border-left-color: transparent;}
table.info thead tr th:last-child{border-right-color: transparent;}

table.info tbody tr{border-color:var(--color-background);}
table.info tbody tr.strong{font-weight:700;}
table.info tbody tr:not(.disabled):hover{background-color:var(--color-light-gray-1);color:var(--color-main);}
table.info tbody tr td{padding:8px;vertical-align:middle;border-color:var(--color-background) transparent;border-style:solid;border-width:1px;}
table.info tbody tr td span{line-height:100%;}

table.info thead th.sortable:hover{
    cursor:pointer;
}

table.info thead th.sortable:hover span{
    color:var(--color-main);
}

table.info thead th.sort.asc span:after{
    content: '↑';
}

table.info thead th.sort.desc span:after{
    content: '↓';
}

table.info thead th.sort span:after{
    padding-left:3px;
}

table.info thead th.sort span:after{
    padding-right:3px;
}

body.ltr .anti-align{text-align: right;}
body.rtl .anti-align{text-align: left;}
