:root{
    --text-size-small:13px;
    --text-size-normal:16px;
    --text-size-large:22px;
    --color-main:#2a3582;
    --color-background:#e2e4ff;
    --color-background-dark:#d0d2ff;
    --color-highlight:#faffbd;
    --color-gray:#777;
    --color-light-gray-1:#f0f0f0;
    --color-light-gray-2:#eee;
    --color-reset:#fff;
    --color-border:#ddd;
    --color-red:#a80000;
    --color-light-red:#ffdbdb;
    --color-green:#008000;
    --color-light-green:#b3ffa7;
    --top-height:55px;
}

body{
    font-family: 'Play', sans-serif;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: var(--color-light-gray-2);
}

::-webkit-scrollbar-thumb {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-main);
    cursor: pointer;
}

.text{
    font-size:var(--text-size-normal);
}

.text-small{
    font-size:var(--text-size-small);
}

.text-big{
    font-size:var(--text-size-large);
    font-weight: 700;
}

.layer.overlay .overlay-block.info .overlay-block-item.text-msg .text,
.layer.overlay .overlay-block.info .overlay-block-item.text-input input,
.layer.overlay .overlay-block.info .overlay-block-item.buttons .text{
    font-size:var(--text-size-normal);
}

.chain{
    display: inline-block;
}

.chain:after{
    content: '»';
    padding:0 5px;
}

.chain:last-child:after{
    display: none;
}

a, span.link{
    color:var(--color-main);
    text-decoration: none;
}

a:hover, span.link:hover{
    text-decoration: underline;
}

.hidden{
    display: none;
}

input.disabled,
select.disabled,
textarea.disabled{
    border-color:var(--color-border);
    background-color:var(--color-light-gray-2);
    color:var(--color-gray);
    -moz-filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

input.input,
textarea.textarea{
    border:0;
    outline:0;
    text-align: inherit;
    width:100%;
    background-color:var(--color-background);
}

input.delete{
    background-color:var(--color-light-red);
    color:var(--color-red);
    -moz-filter:grayscale(0%);
    -webkit-filter:grayscale(0%);
    filter:grayscale(0%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
}

select.select{
    border:0;
    outline:0;
    width:100%;
    background-color:var(--color-background);
    padding:4px;
    cursor: pointer;
}

input.input{
    text-indent: 5px;
    padding:5px 0;
}

input.input:focus,
select.select:focus,
textarea.textarea:focus{
    color:var(--color-main);
    background-color:var(--color-highlight);
}

select.select:not(.disabled):hover{
    cursor: pointer;
}

select.disabled{
    cursor: not-allowed;
}

textarea.textarea{
    resize: none;
    width:calc(100% - 10px);
    padding:5px;
}

select.h120,
textarea.h120{
    height:120px;
}

select.h250,
textarea.h250{
    height:250px;
}

select.h400,
textarea.h400{
    height:400px;
}

table{
    border-collapse:collapse;
    width:100%;
}

table td{
    padding:0;
}

table.info thead tr th,
table.info tbody tr td{
    border-style:solid;
    border-width:1px;
}

table.info thead tr th{
    padding:5px 8px 3px;
    vertical-align:middle;
    white-space:nowrap;
    border-top-width:0;
    background-color:var(--color-background);
    border-color:var(--color-background-dark);
    border-bottom-width:0;
}

table.info thead tr th span{
    font-weight:400;
    color:var(--color-gray);
    line-height:100%;
}

table.info tr .col-1{
    width:8.33%;
}

table.info tr .col-2{
    width:16.66%;
}

table.info tr .col-3{
    width:25%;
}

table.info tr .col-4{
    width:33.33%;
}

table.info tr .col-5{
    width:41.66%;
}

table.info tr .col-6{
    width:50%;
}

table.info tr .col-7{
    width:58.33%;
}

table.info tr .col-8{
    width:66.66%;
}

table.info tr .col-9{
    width:75%;
}

table.info tr .col-10{
    width:83.33%;
}

table.info tr .col-11{
    width:91.66%;
}

table.info tr .col-12{
    width:100%;
}

table.info thead tr th:first-child{
    border-left-color: transparent;
}

table.info thead tr th:last-child{
    border-right-color: transparent;
}

table.info tbody tr{
    border-color:var(--color-background);
}

table.info tbody tr.strong{
    font-weight:700;
}

table.info tbody tr:not(.disabled):hover{
    background-color:var(--color-light-gray-1);
    color:var(--color-main);
}

table.info tbody tr td{
    padding:8px;
    vertical-align:middle;
    border-color:var(--color-background) transparent;
    border-style:solid;
    border-width:1px;
}

table.info tbody tr td span{
    line-height:100%;
}

table.info thead th.sortable:hover{
    cursor:pointer;
}

table.info thead th.sortable:hover span{
    color:var(--color-main);
}

table.info thead th.sort.asc span:after{
    content: '↑';
}

table.info thead th.sort.desc span:after{
    content: '↓';
}

table.info thead th.sort span:after{
    padding-left:3px;
}

table.info thead th.sort span:after{
    padding-right:3px;
}

/* Layout */

.block{
    width:inherit;
    max-width:inherit;
}

.block.mobile-top{
    left:0;
    position:fixed;
    top:0;
    background-color: var(--color-light-gray-2);
    height:var(--top-height);
    z-index:200;
    overflow: hidden;
}

.block.mobile-top .table{
    width: inherit;
    height: inherit;
}

.block.mobile-top .table .cell{
    vertical-align: middle;
}

body.ltr .block.mobile-top .table .cell.left{
    padding-left:5px;
}

body.rtl .block.mobile-top .table .cell.left{
    padding-right:5px;
}

.block.mobile-top .table .cell.left{
    width:1%;
    white-space: nowrap;
}

.block.mobile-top .table .cell.center{
    width:98%;
}

.block.mobile-top .table .cell.right{
    width:1%;
    white-space: nowrap;
}

body.ltr .block.mobile-top .table .cell.right{
    padding-right:5px;
}

body.rtl .block.mobile-top .table .cell.right{
    padding-left:5px;
}

.block.mobile-top .mobile-icon{
    width:25px;
    height:25px;
    cursor: pointer;
    display: inline-block;
    margin: 15px 10px;
    color:var(--color-main);
}

.block.mobile-top .mobile-icon a{
    color:inherit;
}

.block.mobile-top .mobile-icon.menu-close{
    display: none;
}

.block.mobile-top .mobile-icon.menu-close svg{
    width: 21px;
    height: 21px;
    margin: 2px;
}

.block.mobile-menu{
    left:0;
    top:var(--top-height);
    position:fixed;
    background-color: var(--color-reset);
    overflow-y:auto;
    z-index:300;
    height:calc(100% - var(--top-height));
    min-height:calc(100% - var(--top-height));
    display:none;
}

.block.mobile-menu .menu{
    margin-bottom: 20px;
    cursor: default;
    border-bottom:1px solid var(--color-background-dark);
}

.block.mobile-menu .menu .menu-item .menu-item-block.title{
    padding: 8px 0;
}

.block.mobile-menu .menu .menu-item span{
    display: inline-block;
}

.block.mobile-menu .menu .menu-item .menu-item-block.title span{
    color: var(--color-main);
}

.block.mobile-menu .menu .menu-item .menu-item-block.dropdown{
    padding-bottom: 20px;
}

.block.mobile-menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid{
    padding:6px 0;
    border-bottom: 1px solid var(--color-background);
}

.block.mobile-menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid:last-child{
    border-bottom: none;
}

.block.mobile-menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid.active{
    background-color: var(--color-highlight);
}

.block.mobile-menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid:not(.active):hover{
    background-color: var(--color-main);
    color: var(--color-reset);
    cursor: pointer;
}

.block.mobile-languages{
    top:15px;
    width: auto;
    position:absolute;
    background-color: var(--color-reset);
    z-index:300;
    display:none;
}

.block.mobile-languages .menu{
    display: inline-block;
    background-color: var(--color-reset);
    border:1px solid var(--color-background-dark);
    width: inherit;
}

.block.mobile-languages .menu .menu-item-kid{
    padding:4px 8px;
    border-bottom: 1px solid var(--color-background-dark);
}

body.ltr .block.mobile-languages .menu .menu-item-kid.rtl{
    text-align: right;
}

body.rtl .block.mobile-languages .menu .menu-item-kid.ltr{
    text-align: left;
}

.block.mobile-languages .menu .menu-item-kid span{
    line-height: 100%;
}

.block.mobile-languages .menu .menu-item-kid:last-child{
    border-bottom: none;
}

.block.mobile-languages .menu .menu-item-kid.active{
    background-color: var(--color-highlight);
    cursor:default;
}

.block.mobile-languages .menu .menu-item-kid:not(.active):hover{
    background-color: var(--color-main);
    color:var(--color-reset);
    cursor: pointer;
}

.block.content{
    left:0;
    position:absolute;
    top:var(--top-height);
    overflow-y:auto;
    z-index:50;
    height:calc(100vh - var(--top-height));
    min-height:calc(100vh - var(--top-height));
    text-align: center;
}

.block.content .inline{
    display: inline-block;
    width: 100%;
}

.block.menu{
    border-bottom: 1px solid var(--color-background-dark);
    display: none;
    height: 24px;
}

.block.menu .table{
    width:inherit;
    height: inherit;
}

.block.menu .table .cell{
    vertical-align: middle;
    height: inherit;
}

.block.menu .table .cell.left{
    width:99%;
}

.block.menu .table .cell.right{
    width: 1%;
}

.block.menu .menu{
    display: table;
    height: inherit;
}

.block.menu .menu .menu-item{
    display: table-cell;
    position: relative;
    height: inherit;
}

.block.menu .cell.right .menu .menu-item span.icon{
    color:var(--color-main);
}

.block.menu .cell.right .menu .menu-item:hover span.icon{
    color:var(--color-reset);
}

.block.menu .menu .menu-item.active .menu-item-block.title{
    background-color: var(--color-highlight);
}

.block.menu .menu .menu-item .menu-item-block.title{
    display: table-cell;
    cursor: default;
    height: inherit;
    vertical-align: middle;
}

.block.menu .menu .menu-item:hover .menu-item-block.title{
    background-color: var(--color-main);
    color:var(--color-reset);
    cursor: pointer;
}

.block.menu .menu .menu-item .menu-item-block.title span{
    line-height: 100%;
    display: inline-block;
    margin:0 15px;
    white-space: nowrap;
    color:inherit;
}

.block.menu .menu .menu-item .menu-item-block.dropdown{
    position: absolute;
    background-color:var(--color-reset);
    display: none;
    border:1px solid var(--color-main);
    z-index: 300;
}

.block.menu .cell.right .menu .menu-item .menu-item-block.title span.icon{
    width:20px;
    height:20px;
    margin:0 4px;
}

.block.menu .cell.left .menu .menu-item .menu-item-block.dropdown{
    min-width: 180px;
}

.block.menu .menu .menu-item:hover .menu-item-block.dropdown{
    display: block;
}

.block.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid span{
    display: inline-block;
    margin:0 13px;
    padding:4px 0 6px;
}

body.ltr .block.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid.rtl{
    text-align: right;
}

body.rtl .block.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid.ltr{
    text-align: left;
}

.block.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid.active{
    background-color: var(--color-highlight);
    cursor: default;
}

.block.menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid:not(.active):hover{
    background-color: var(--color-main);
    color:var(--color-reset);
    cursor: pointer;
}

.block.chain-hold{
    display: none;
}

.block.chain-hold .table{
    width:inherit;
}

.block.chain-hold .table .cell{
    padding:5px 15px;
}

.block.main p.header:first-child{
    margin-top: 0;
}

.block.main .main-padding-table{
    width:inherit;
}

.block.main .main-padding-table .main-padding-cell{
    vertical-align: top;
    padding:10px 15px 15px;
}

.main-page{
    width:100%;
    border-bottom: 1px solid var(--color-background);
}

.main-page .main-page-table{
    width:inherit;
}

.main-page .main-page-table .main-page-cell{
    vertical-align: top;
}

.main-page .main-page-table .main-page-cell.left{
    display: none;
}

.main-page .main-page-block.logo{
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-background);
}

.main-page .main-page-block.logo svg{
    width: 150px;
    color: var(--color-main);
}

.main-page .main-page-table .main-page-cell.right{
    width:100%;
    display: table-cell;
}

.main-page .main-page-table .main-page-cell.right .main-page-block{
    width: 100%;
    display: inline-block;
}

.main-page .main-page-table .main-page-cell.right .main-page-block.params table tr td{
    vertical-align: middle;
}

.main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.header td{
    padding: 20px 0 10px;
}

.main-page .main-page-table .main-page-cell.right .main-page-block.params table tr:first-child td{
    padding-top: 10px;
}

.main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data{
    border-bottom: 1px solid var(--color-background);
}

.main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data:last-child{
    border-bottom-color: transparent;
}

.main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data td{
    padding:6px 0;
}

.main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data:hover{
    background-color:var(--color-light-gray-1);
    color:var(--color-main);
}

.main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data td.title{
    width:62%;
}

body .main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data td.title{
    padding-top: 5px;
    padding-bottom: 5px;
}

body.ltr .main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data td.title{
    padding-right: 15px;
    padding-left: 30px;
}

body.rtl .main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data td.title{
    padding-left: 15px;
    padding-right: 30px;
}

.main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data td.value{
    width:38%;
}

body.ltr .main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data td.value{
    padding-right: 10px;
}

body.rtl .main-page .main-page-table .main-page-cell.right .main-page-block.params table tr.data td.value{
    padding-left: 10px;
}

.main-page .main-page-table .main-page-cell.left .menu{
    width: 100%;
}

.main-page .main-page-table .main-page-cell.left .menu .menu-item{
    width: inherit;
}

.main-page .main-page-table .main-page-cell.left .menu .menu-item .menu-item-block{
    width: inherit;
}

.main-page .main-page-table .main-page-cell.left .menu .menu-item span{
    display: inline-block;
    line-height: 100%;
}

.main-page .main-page-table .main-page-cell.left .menu .menu-item .menu-item-block.title{
    padding:8px 0;
}

.main-page .main-page-table .main-page-cell.left .menu .menu-item .menu-item-block.title span{
    color: var(--color-main);
}

.main-page .main-page-table .main-page-cell.left .menu .menu-item .menu-item-block.dropdown .menu-item-kid{
    width: inherit;
    padding:6px 0;
    border-bottom: 1px solid var(--color-background);
}

.main-page .main-page-table .main-page-cell.left .menu .menu-item .menu-item-block.dropdown .menu-item-kid:hover{
    background-color: var(--color-main);
    color:#fff;
    cursor: pointer;
}

.main-page .main-page-table .main-page-cell.left .menu .menu-item .menu-item-block.dropdown .menu-item-kid:last-child{
    border-bottom: none;
}

body.ltr .main-page .main-page-table .main-page-cell.left .menu .menu-item .menu-item-block.dropdown .menu-item-kid span{
    margin-left: 30px;
}

body.rtl .main-page .main-page-table .main-page-cell.left .menu .menu-item .menu-item-block.dropdown .menu-item-kid span{
    margin-right: 30px;
}

body.ltr .block.content .inline{
    text-align: left;
}

body.ltr .block.mobile-languages{
    right:50px;
}

body.ltr .block.mobile-menu .menu .menu-item .menu-item-block.title span{
    margin-left: 15px;
}

body.ltr .block.mobile-menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid span{
    margin-left: 40px;
}

body.ltr .block.menu .table .cell.left{
    text-align: left;
}

body.ltr .block.menu .table .cell.right{
    text-align: right;
}

body.ltr .block.menu .cell.left .menu .menu-item .menu-item-block.dropdown{
    left:0;
}

body.ltr .block.menu .cell.right .menu .menu-item .menu-item-block.dropdown{
    right:0;
}

body.ltr .block.menu .cell.right .menu .menu-item .menu-item-block.dropdown{
    text-align: left;
}

body.ltr .anti-align{
    text-align: right;
}

body.rtl .block.content .inline{
    text-align: right;
}

body.rtl .block.mobile-languages{
    left:50px;
}

body.rtl .block.mobile-menu .menu .menu-item .menu-item-block.title span{
    margin-right: 15px;
}

body.rtl .block.mobile-menu .menu .menu-item .menu-item-block.dropdown .menu-item-kid span{
    margin-right: 40px;
}

body.rtl .block.menu .table .cell.left{
    text-align: right;
}

body.rtl .block.menu .table .cell.right{
    text-align: left;
}

body.rtl .block.menu .cell.left .menu .menu-item .menu-item-block.dropdown{
    right:0;
}

body.rtl .block.menu .cell.right .menu .menu-item .menu-item-block.dropdown{
    left:0;
}

body.rtl .block.menu .cell.right .menu .menu-item .menu-item-block.dropdown{
    text-align: right;
}

body.rtl .anti-align{
    text-align: left;
}

@media screen and (min-width: 1024px){
    :root{
        --text-size-small:11px;
        --text-size-normal:14px;
        --text-size-large:18px;
    }

    .block.mobile-top{
        display: none;
    }

    .block.content{
        height: 100vh;
        min-height: 100vh;
        top:0;
    }

    .block.menu,
    .block.chain-hold{
        display: block;
    }

    .main-page .main-page-table .main-page-cell.left{
        width: 33.3%;
        display: table-cell;
    }

    .main-page .main-page-table .main-page-cell.right{
        display: table-cell;
        width: 66.7%;
    }

    body.ltr .main-page .main-page-table .main-page-cell.left{
        border-right: 20px solid var(--color-light-gray-1);
        padding-right: 20px;
    }

    body.rtl .main-page .main-page-table .main-page-cell.left{
        border-left: 20px solid var(--color-light-gray-1);
        padding-left: 20px;
    }

    body.ltr .main-page .main-page-table .main-page-cell.right{
        padding-left: 20px;
    }

    body.rtl .main-page .main-page-table .main-page-cell.right{
        padding-right: 20px;
    }
}

@media screen and (min-width: 1680px){
    .block.content .inline{
        width: 1600px;
        border-style: solid;
        border-color: var(--color-background-dark);
        border-width: 0 1px;
    }
}
