.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .browser{
    max-height:400px;
    display: inline-block;
    width: 100%;
    overflow-y: scroll;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result table.info tbody tr:last-child td{
    border-bottom:none;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result table.info tbody tr.dir td.name span{
    font-weight: 700;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result table.info tbody tr td.size,
.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result table.info tbody tr td.date{
    white-space: nowrap;
}

body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result table.info tbody tr td.size,
body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result table.info thead tr th.size{
    text-align: right;
}

body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result table.info tbody tr td.size,
body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result table.info thead tr th.size{
    text-align: left;
}
