.btn{
    border-style:solid;
    border-width:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:0;
    min-height: 26px;
    min-width: 26px;
}

.btn.disabled{
    border-color:var(--color-border);
    background-color:var(--color-light-gray-2);
    color:var(--color-border);
}

.btn.disabled:hover{
    cursor: not-allowed;
}

.btn:not(.disabled):hover{
    cursor: pointer;
}

.btn{
    line-height: 0;
}

body.ltr .btn.btn-icon{
    margin-right: 8px;
}

body.ltr .btn.btn-icon:last-child{
    margin-right: 0;
}

body.rtl .btn.btn-icon{
    margin-left: 8px;
}

body.rtl .btn.btn-icon:last-child{
    margin-left: 0;
}

.btn.btn-form{
    width:150px;
    margin-bottom:10px;
}

body.ltr .btn.btn-form{
    margin-right: 10px;
}

body.ltr .btn.btn-form:last-child{
    margin-right:0;
}

body.rtl .btn.btn-form{
    margin-left: 10px;
}

body.rtl .btn.btn-form:last-child{
    margin-left:0;
}

.btn.btn-success:not(.disabled){
    border-color:var(--color-green);
    background-color:var(--color-light-green);
    color:var(--color-green);
}

.btn.btn-success:not(.disabled):hover{
    background-color:var(--color-green);
    color:var(--color-light-green);
}

.btn.btn-normal:not(.disabled){
    border-color:var(--color-main);
    background-color:var(--color-background);
    color:var(--color-main);
}

.btn.btn-normal:not(.disabled):hover{
    background-color:var(--color-main);
    color:var(--color-background);
}

.btn.btn-warning:not(.disabled){
    border-color:var(--color-red);
    background-color:var(--color-light-red);
    color:var(--color-red);
}

.btn.btn-warning:not(.disabled):hover, .btn.on{
    background-color:var(--color-red);
    color:var(--color-light-red);
}

.btn .table-btn{
    width:100%;
}

.btn .table-btn .cell-btn{
    vertical-align: middle;
}

.btn .table-btn .cell-btn.bg{
    text-align:center;
    width:25%;
}

body.ltr .btn .table-btn .cell-btn.bg.align{
    text-align:right;
}

body.rtl .btn .table-btn .cell-btn.bg.align{
    text-align:left;
}

.btn.btn-form .table-btn .cell-btn.bg svg{
    width:24px;
    height:24px;
}

.btn.btn-icon .table-btn .cell-btn.bg svg{
    width:20px;
    height:20px;
}

.btn .table-btn .cell-btn.text{
    text-align: center;
}

body.ltr .btn .table-btn .cell-btn.text.padding{
    padding-right: 5px;
}

body.rtl .btn .table-btn .cell-btn.text.padding{
    padding-left: 5px;
}

@media screen and (min-width: 1024px) {
    .btn.btn-form{
        width:130px;
        margin-bottom:0;
    }
}
