.form{
    width:100%;
}

.form .form-block{
    width: inherit;
}

.form .form-block.form-sheets .form-sheet{
    width:inherit;
    background-color:var(--color-reset);
    display: none;
}

.form .form-block.form-sheets .form-sheet .table.sheet-padding{
    width:inherit;
}

.form .form-block.form-sheets .form-sheet .table.sheet-padding .cell.sheet-padding{
    width:inherit;
    padding:10px;
    border-color:var(--color-border);
    border-style: solid;
    border-width: 1px 1px 0;
}

.form .form-block.form-sheets .form-sheet.single .table.sheet-padding .cell.sheet-padding{
    padding:0 0 10px;
    border:none;
}

.form .form-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 10px;
}

.form .form-grid .grid-cols{
    grid-column: span 12;
}

.form .form-grid .grid-item{
    width: 100%;
}

.form .form-grid .grid-item.value .autocomplete-input{
    width:100%;
    background-color: yellow;
}

.form .form-grid .grid-item.value .autocomplete-value{
    width:100%;
    padding-top: 10px;
}

.form .form-grid .grid-item.value .autocomplete-value .value-item{
    display: inline-block;
    background-color:var(--color-light-gray-1);
    border:1px solid var(--color-gray);
    margin: 0 5px 5px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: default;
}

.form .form-grid .grid-item.value .autocomplete-value .value-item:not(.disabled):hover{
    cursor: pointer;
    background-color:var(--color-main);
    border-color: var(--color-main);
    color:var(--color-reset);
}

.form .form-grid .grid-item.value .autocomplete-value .value-item .value-item-table{
    display: table;
}

.form .form-grid .grid-item.value .autocomplete-value .value-item .value-item-table .value-item-cell{
    display: table-cell;
    padding: 2px 6px;
}

.form .form-grid .grid-item.value .grid-value-file{
    width:100%;
    display:table;
    height:10px;
}

.form .form-grid .grid-item.value .grid-value-file .cell{
    vertical-align: middle;
}

.form .form-grid .grid-item.value .grid-value-file .cell.filename{
    width:99%;
}

body.ltr .form .form-grid .grid-item.value .grid-value-file .cell.filename{
    padding-right: 8px;
}

body.rtl .form .form-grid .grid-item.value .grid-value-file .cell.filename{
    padding-left: 8px;
}

.form .form-grid .grid-item.value .grid-value-file .cell.icons{
    width: 1%;
    white-space: nowrap;
}

.form .form-grid .grid-item.value .grid-value-file .cell.icons a{
    display: inline-block;
}

.form .form-grid .grid-item.value .json-value-table{
    width:100%;
}

.form .form-grid .grid-item.value .json-value-table .json-value-cell{
    vertical-align: top;
}

.form .form-grid .grid-item.value .json-value-table .json-value-cell.control .btn{

}

body.ltr .form .form-grid .grid-item.value .json-value-table .json-value-cell.control{
    padding-right: 10px;
    padding-bottom: 6px;
}

body.rtl .form .form-grid .grid-item.value .json-value-table .json-value-cell.control{
    padding-left: 10px;
}

.form .form-grid .grid-item.value .json-value-table .json-value-cell.items{
    width:100%;
}

.form .form-grid .grid-item.value .json-value-table .json-value-cell.items .json-value-item{
    display:inline-block;
    margin-bottom:6px;
}

body.ltr .form .form-grid .grid-item.value .json-value-table .json-value-cell.items .json-value-item{
    margin-right: 6px;
}

body.rtl .form .form-grid .grid-item.value .json-value-table .json-value-cell.items .json-value-item{
    margin-left: 6px;
}

.form .form-grid .grid-item.value .json-value-item .input{
    min-width:20px;
    text-align: center;
    text-indent: 0;
}

.form .form-grid .grid-item.value .grid-value-option{
    display:inline-block;
    margin: 6px 0;
}

.form .form-grid .grid-item.value .grid-value-option:not(.disabled):hover{
    cursor:pointer;
    color:var(--color-main);
}

.form .form-grid .grid-item.value .grid-value-option .table.value-option .cell{
    vertical-align: middle;
}

.form .form-grid .grid-item.value .grid-value-option .table.value-option .cell.label label{
    cursor: inherit;
}

.form .form-grid .grid-item.value .grid-value-option .table.value-option .cell.label span{
    line-height: 100%;
}

.form .form-grid .grid-item.errors .grid-error{
    width:100%;
    background-color:var(--color-light-red);
    color:var(--color-red);
}

.form .form-grid .grid-item.errors .grid-error .table{
    width: inherit;
}

.form .form-grid .grid-item.errors .grid-error .table .cell{
    vertical-align: middle;
    padding:3px;
}

.form .form-block.form-sheet-nav .table.sheet-nav{
    width: inherit;
}

.form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell{
    vertical-align: middle;
}

.form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.txt{
    cursor: pointer;
    padding:5px 0 6px;
    border-style: solid;
    border-color:var(--color-border);
    border-width: 0 1px 1px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.txt.label{
    color:var(--color-reset);
    background-color:var(--color-main);
}

.form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.txt.lang{
    color:var(--color-main);
    background-color:var(--color-background);
}

.form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.txt .desktop{
    display:none;
}

.form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.txt span{
    line-height: 100%;
    display: inline-block;
    white-space: nowrap;
    margin:0 12px;
}

.form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.txt.active{
    cursor: default;
    color:var(--color-main);
    background-color:var(--color-reset);
}

.form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.wide{
    width:100%;
    min-width: 20px;
    border-top:1px solid var(--color-border);
}

.form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.space{
    min-width:8px;
    border-top:1px solid var(--color-border);
}

.form .form-block.form-buttons{
    margin-top:20px;
}

.form .form-grid .grid-item.label{
    margin-bottom:2px;
    color:var(--color-gray);
    height: 15px;
    white-space: nowrap;
    overflow-x: hidden;
}

.form .form-grid .grid-item.label .required{
    color:var(--color-red);
}

body.ltr .form .form-grid .grid-item.label .required{
    padding-left:2px;
}

body.rtl .form .form-grid .grid-item.label .required{
    padding-right:2px;
}

body.ltr .form .form-grid .grid-item.value .grid-value-option{
    margin-right: 12px;
}

body.ltr .form .form-grid .grid-item.value .grid-value-option:last-child{
    margin-right: 0;
}

body.ltr .form .form-grid .grid-item.value .grid-value-option .table.value-option .cell.label{
    padding-left:5px;
}

body.rtl .form .form-grid .grid-item.value .grid-value-option{
    margin-left: 12px;
}

body.rtl .form .form-grid .grid-item.value .grid-value-option:last-child{
    margin-left:0;
}

body.rtl .form .form-grid .grid-item.value .grid-value-option .table.value-option .cell.label{
    padding-right:5px;
}

@media screen and (min-width: 480px) {
    .form .form-grid .grid-cols-1 {
        grid-column: span 1;
    }

    .form .form-grid .grid-cols-2 {
        grid-column: span 2;
    }

    .form .form-grid .grid-cols-3 {
        grid-column: span 3;
    }

    .form .form-grid .grid-cols-4 {
        grid-column: span 4;
    }

    .form .form-grid .grid-cols-5 {
        grid-column: span 5;
    }

    .form .form-grid .grid-cols-6 {
        grid-column: span 6;
    }

    .form .form-grid .grid-cols-7 {
        grid-column: span 7;
    }

    .form .form-grid .grid-cols-8 {
        grid-column: span 8;
    }

    .form .form-grid .grid-cols-9 {
        grid-column: span 9;
    }

    .form .form-grid .grid-cols-10 {
        grid-column: span 10;
    }

    .form .form-grid .grid-cols-11 {
        grid-column: span 11;
    }
}

@media screen and (min-width: 560px) {
    .form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.txt .mobile{
        display:none;
    }

    .form .form-block.form-sheet-nav .table.sheet-nav .cell.sheet-nav-cell.txt .desktop{
        display:block;
    }
}

@media screen and (min-width: 1024px){
    .form .form-grid .grid-item.label{
        margin-bottom: 1px;
    }
}

.ui-widget{
    font-family: 'Play', sans-serif;
}

.ui-autocomplete{
    position:absolute;
    top:0;
    left:0;
    cursor:default;
    background-color:var(--color-background);
    z-index:200;
    display:block;
    border-top:1px solid var(--color-background-dark);
    padding:0;
}

.ui-autocomplete .ui-menu-item{
    width:100%;
    display:table;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper{
    display:table-cell;
    vertical-align:middle;
    background-color:var(--color-background);
    padding:5px;
    font-size:var(--text-size-normal);
    width:inherit;
    line-height:120%;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper:hover{
    background-color:var(--color-highlight);
    cursor:pointer;
}

.ui-helper-hidden-accessible{
    display:none;
}

.ui-widget.ui-widget-content{
    border:none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background:none;
    border:none;
    color:inherit;
}

body.ltr .ui-autocomplete .ui-menu-item .ui-menu-item-wrapper{
    text-align:left;
}

body.rtl .ui-autocomplete .ui-menu-item .ui-menu-item-wrapper{
    text-align:right;
}
