.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .gallery{
    position: relative;
    width: inherit;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .gallery .gallery-item{
    display:inline-block;
    margin:0 10px 10px 0;
    background-color: var(--color-light-gray-2);
    padding:10px;
    border:1px solid var(--color-background);
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .gallery .gallery-item:hover{
    cursor: pointer;
    border-color: var(--color-background-dark);
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .gallery .gallery-item.inactive{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 40%;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .gallery .gallery-item.selected{
    background-color: var(--color-main);
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .gallery .gallery-item.selected img{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter:alpha(opacity=25);
    -moz-opacity:.25;
    -khtml-opacity:.25;
    opacity:.25;
}
