:root{
    --text-size-small:13px;
    --text-size-normal:16px;
    --text-size-large:22px;
    --color-main:#2a3582;
    --color-background:#e2e4ff;
    --color-highlight:#faffbd;
    --color-reset:#fff;
}

html {
    background-color:var(--color-reset);
    color:#000;
    width:100%;
    max-width: 100%;
    height: 100%;
}

body {
    font-family: 'Play', sans-serif;
    height:inherit;
    max-width:inherit;
    width:inherit;
    font-size:0;
    letter-spacing:0;
    word-spacing:0;
}

a{
    color:var(--color-main);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.text{
    font-size:var(--text-size-normal);
}

.text-small{
    font-size:var(--text-size-small);
}

.text-big{
    font-size:var(--text-size-large);
    font-weight: 700;
}

input.input,
textarea.textarea{
    border:0;
    outline:0;
    text-align: inherit;
    width:100%;
    background-color:var(--color-background);
}

select.select{
    border:0;
    outline:0;
    width:100%;
    background-color:var(--color-background);
    padding:4px;
    cursor: pointer;
}

input.input{
    text-indent: 5px;
    padding:5px 0;
}

input.input:focus,
select.select:focus,
textarea.textarea:focus{
    color:var(--color-main);
    background-color:var(--color-highlight);
}

select.select:not(.disabled):hover{
    cursor: pointer;
}

select.disabled{
    cursor: not-allowed;
}

textarea.textarea{
    resize: none;
    width:calc(100% - 10px);
    padding:5px;
}

@media screen and (min-width: 1024px) {
    :root{
        --text-size-small:11px;
        --text-size-normal:14px;
        --text-size-large:18px;
    }
}
