:root{
    --text-size-small:13px;
    --text-size-normal:16px;
    --text-size-large:22px;
    --color-main:#2a3582;
    --color-background:#e2e4ff;
    --color-background-dark:#d0d2ff;
    --color-highlight:#faffbd;
    --color-gray:#777;
    --color-light-gray-1:#f0f0f0;
    --color-light-gray-2:#eee;
    --color-reset:#fff;
    --color-border:#ddd;
    --color-red:#a80000;
    --color-light-red:#ffdbdb;
    --color-green:#008000;
    --color-light-green:#b3ffa7;
}

html{
    min-height:100vh;
}

body{
    font-family: 'Play', sans-serif;
    min-height:inherit;
    font-size:0;
    letter-spacing:0;
    word-spacing:0;
    overflow: hidden;
    position:relative;
}

.layer.content{
    top:0;
    left:0;
    height:inherit;
    min-height:inherit;
    width:100%;
    max-width:inherit;
    position:absolute;
    min-width: 280px;
    outline:0;
}

.text{
    font-size:var(--text-size-normal);
}

.text-small{
    font-size:var(--text-size-small);
}

.text-big{
    font-size:var(--text-size-large);
    font-weight: 700;
}

a, span.link{
    color:var(--color-main);
    text-decoration: none;
}

a:hover, span.link:hover{
    text-decoration: underline;
}

input.input,
textarea.textarea{
    border:0;
    outline:0;
    text-align: inherit;
    width:100%;
    background-color:var(--color-background);
}

select.select{
    border:0;
    outline:0;
    width:100%;
    background-color:var(--color-background);
    padding:4px;
    cursor: pointer;
}

input.input{
    text-indent: 5px;
    padding:5px 0;
}

input.input:focus,
select.select:focus,
textarea.textarea:focus{
    color:var(--color-main);
    background-color:var(--color-highlight);
}

select.select:not(.disabled):hover{
    cursor: pointer;
}

select.disabled{
    cursor: not-allowed;
}

textarea.textarea{
    resize: none;
    width:calc(100% - 10px);
    padding:5px;
}

.inline{
    display: inline-block;
    min-width: 280px;
}

.inline .guest-logo{
    margin-bottom: 25px;
    text-align: center;
}

.inline .guest-logo svg{
    width:150px;
    color:var(--color-main);
}

.layer.content .table.container-table{
    width: inherit;
    height: inherit;
    min-height: inherit;
}

.layer.content .table.container-table .cell.container-cell{
    vertical-align: middle;
    text-align: center;
}

button .text{
    line-height: 120%;
}

.table{
    display: table;
}

.table .cell{
    display: table-cell;
}

@media screen and (min-width: 1024px){
    :root{
        --text-size-small:11px;
        --text-size-normal:14px;
        --text-size-large:18px;
    }

    .inline .guest-logo svg{
        width: 120px;
    }
}
