.layer-guest{
    width:100%;
    min-height:inherit;
    text-align: center;

    .table{
        min-height: inherit;

        .cell{
            vertical-align:middle;

            .guest-logo{
                margin-bottom: 25px;
                display: inline-block;

                svg{
                    width: 150px;

                    @media screen and (min-width: 767px) {
                        width: 120px;
                    }
                }
            }
        }
    }
}

input.input,textarea.input{
    text-align: center;
}
