netto-skip-reindex{
    min-height:inherit;
    max-width:inherit;
}

html{
    background-color: #fff;
    color: #000;
    height:100vh;
    min-height:100vh;
    width:100%;
    max-width:100%;
}

body{
    min-height:inherit;
    width:inherit;
    max-width:inherit;
    font-size:0;
    letter-spacing:0;
    word-spacing:0;
    -webkit-font-smoothing: antialiased;
}

.table{
    display:table;
}

.table .cell{
    display:table-cell;
}

.wrapper{
    height:inherit;
    min-height:inherit;
    width:inherit;
    max-width:inherit;
    position:relative;
}

.layer{
    top:0;
    left:0;
    height:inherit;
    min-height:inherit;
    width:100%;
    max-width:inherit;
    position:absolute;
    min-width: 280px;
    outline:0;
}

.layer.content{
    z-index:0;
}

.layer.overlay{
    z-index:1000;
    background-color: rgba(0,0,0,.3);
    display:none;
}

.layer.overlay .table-overlay,
.layer.animation .table-overlay{
    height:inherit;
    min-height:inherit;
    width:inherit;
    max-width:inherit;
}

.layer.overlay .table-overlay .cell-overlay,
.layer.animation .table-overlay .cell-overlay{
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

.layer.overlay .overlay-hold,
.layer.animation .overlay-hold{
    display: inline-block;
}

.layer.overlay .overlay-block{
    display: none;
    outline:0;
}

.layer.overlay .overlay-block.info{
    padding:20px 25px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    max-width: 600px;
    background-color: #fff;
}

.layer.overlay .overlay-block.info .overlay-block-item.text-msg{
    margin-bottom: 20px;
}

.layer.overlay .overlay-block.info .overlay-block-item.text-msg .text{
    font-size: initial;
}

.layer.overlay .overlay-block.info .overlay-block-item.text-input{
    margin-bottom: 20px;
}

.layer.overlay .overlay-block.info .overlay-block-item.text-input input{
    font-size: initial;
}

.layer.overlay .overlay-block.info .overlay-block-item.buttons .text{
    font-size: initial;
}

.layer.animation{
    z-index:10000;
    background-color: rgba(0,0,0,.3);
    display:none;
}

body.ltr .layer.overlay .overlay-block.info .overlay-block-item.buttons .button{
    margin-right: 10px;
}

body.ltr .layer.overlay .overlay-block.info .overlay-block-item.buttons .button:last-child{
    margin-right: 0;
}

body.rtl .layer.overlay .overlay-block.info .overlay-block-item.buttons .button{
    margin-left: 10px;
}

body.rtl .layer.overlay .overlay-block.info .overlay-block-item.buttons .button:last-child{
    margin-left: 0;
}

@-webkit-keyframes load-anim{
    0% {opacity:1} 100% {opacity:0}
}

@keyframes load-anim{
    0% {opacity:1} 100% {opacity:0}
}

.loading{
    position:relative;
    background:none;
    width:200px;
    height:200px;
    transform:scale(0.6);
    display:inline-block;
}

.loading div{
    top:80px;
    left:92px;
    width:16px;
    height:40px;
    background:#ddd;
    border-radius:10px;
    position:absolute;
    -webkit-animation:load-anim 1s linear infinite;
    animation:load-anim 1s linear infinite;
}

.loading > div:nth-of-type(1){
    -webkit-animation-delay:-0.5s;
    animation-delay:-0.5s;
    -webkit-transform:rotate(0deg) translate(0,-60px);
    transform:rotate(0deg) translate(0,-60px);
}

.loading > div:nth-of-type(2){
    -webkit-animation-delay:-0.4166666666666667s;
    animation-delay:-0.4166666666666667s;
    -webkit-transform:rotate(30deg) translate(0,-60px);
    transform:rotate(30deg) translate(0,-60px);
}

.loading > div:nth-of-type(3){
    -webkit-animation-delay:-0.33333333333333337s;
    animation-delay:-0.33333333333333337s;
    -webkit-transform:rotate(60deg) translate(0,-60px);
    transform:rotate(60deg) translate(0,-60px);
}

.loading > div:nth-of-type(4){
    -webkit-animation-delay:-0.25s;
    animation-delay:-0.25s;
    -webkit-transform:rotate(90deg) translate(0,-60px);
    transform:rotate(90deg) translate(0,-60px);
}

.loading > div:nth-of-type(5){
    -webkit-animation-delay:-0.16666666666666669s;
    animation-delay:-0.16666666666666669s;
    -webkit-transform:rotate(120deg) translate(0,-60px);
    transform:rotate(120deg) translate(0,-60px);
}

.loading > div:nth-of-type(6){
    -webkit-animation-delay:-0.08333333333333331s;
    animation-delay:-0.08333333333333331s;
    -webkit-transform:rotate(150deg) translate(0,-60px);
    transform:rotate(150deg) translate(0,-60px);
}

.loading > div:nth-of-type(7){
    -webkit-animation-delay:0s;
    animation-delay:0s;
    -webkit-transform:rotate(180deg) translate(0,-60px);
    transform:rotate(180deg) translate(0,-60px);
}

.loading > div:nth-of-type(8){
    -webkit-animation-delay:0.08333333333333337s;
    animation-delay:0.08333333333333337s;
    -webkit-transform:rotate(210deg) translate(0,-60px);
    transform:rotate(210deg) translate(0,-60px);
}

.loading > div:nth-of-type(9){
    -webkit-animation-delay:0.16666666666666663s;
    animation-delay:0.16666666666666663s;
    -webkit-transform:rotate(240deg) translate(0,-60px);
    transform:rotate(240deg) translate(0,-60px);
}

.loading > div:nth-of-type(10){
    -webkit-animation-delay:0.25s;
    animation-delay:0.25s;
    -webkit-transform:rotate(270deg) translate(0,-60px);
    transform:rotate(270deg) translate(0,-60px);
}

.loading > div:nth-of-type(11){
    -webkit-animation-delay:0.33333333333333337s;
    animation-delay:0.33333333333333337s;
    -webkit-transform:rotate(300deg) translate(0,-60px);
    transform:rotate(300deg) translate(0,-60px);
}

.loading > div:nth-of-type(12){
    -webkit-animation-delay:0.41666666666666663s;
    animation-delay:0.41666666666666663s;
    -webkit-transform:rotate(330deg) translate(0,-60px);
    transform:rotate(330deg) translate(0,-60px);
}
