.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .list-results{
    position: relative;
    width: inherit;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .list-results .list-results-visible{
    position: relative;
    width: inherit;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .list-results .list-results-dropdown{
    position: absolute;
    top:0;
    left:0;
    background: var(--color-light-gray-2);
    border-style:solid;
    border-color: var(--color-background-dark);
    border-width: 0 1px 1px;
    color:var(--color-gray);
    display: none;
    z-index:100;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .list-results .list-results-dropdown .list-column-table{
    width:100%;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .list-results .list-results-dropdown .list-column-table.selected{
    background-color:var(--color-background);
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .list-results .list-results-dropdown .list-column-table:hover{
    cursor: pointer;
    color:var(--color-main);
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .list-results .list-results-dropdown .list-column-table .list-column-cell{
    width: inherit;
    vertical-align: middle;
    padding:3px 8px;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result .list-results .list-results-dropdown .list-column-table .list-column-cell span{
    white-space: nowrap;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th.col-sort,
.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th.col-id,
.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table tbody td.col-sort,
.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table tbody td.col-id{
    text-align: center;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results.search{
    width:inherit;
    margin: 10px 0 15px;
    border:1px solid var(--color-border);
    padding-bottom: 10px;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results.search .list-column-table{
    width: 100%;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results.search .list-column-table .list-column-cell{
    padding: 10px 10px 0;
}
