.ajax-list{
    width:inherit;
    margin-top: 30px;
}

.ajax-list:first-child{
    margin-top: 0;
}

.ajax-list .ajax-list-block{
    width: inherit;
}

.ajax-list .ajax-list-block.top .block-top-table{
    width:inherit;
    min-height: 25px;
}

.ajax-list .ajax-list-block.top .block-top-table .block-top-cell{
    vertical-align: top;
}

.ajax-list .ajax-list-block.top .block-top-table .block-top-cell.head{
    width:99%;
}

.ajax-list .ajax-list-block.top .block-top-table .block-top-cell.buttons{
    width:1%;
    white-space: nowrap;
}

body.ltr .ajax-list .ajax-list-block.top .block-top-table .block-top-cell.buttons{
    padding-left:8px;
}

body.rtl .ajax-list .ajax-list-block.top .block-top-table .block-top-cell.buttons{
    padding-right:8px;
}

.ajax-list .ajax-list-block.content{
    position: relative;
    margin-top:20px;
}

.ajax-list .ajax-list-block.content .ajax-content-layer{
    width:inherit;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.animation{
    background-color:var(--color-light-gray-2);
    z-index: 100;
    min-height:200px;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.animation .table{
    height: inherit;
    width: 100%;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.animation .table .cell{
    vertical-align: middle;
    text-align: center;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results{
    z-index: 50;
    display: none;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results{
    width: inherit;
    display: none;
    position: relative;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result{
    width: inherit;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table{
    width:100%;
    border-collapse: collapse;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead{
    background-color: var(--color-background);
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th{
    font-weight: 400;
    padding:3px 6px;
    border-style: solid;
    border-color: var(--color-background-dark);
    border-width: 0 1px;
    color:var(--color-gray);
    white-space: nowrap;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th.sortable:hover{
    cursor:pointer;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th.sortable:hover span{
    color:var(--color-main);
}

body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th:first-child{
    border-left-width: 0;
}

body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th:last-child{
    border-right-width: 0;
}

body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th:first-child{
    border-right-width: 0;
}

body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th:last-child{
    border-left-width: 0;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th.sort.asc span:after{
    content: '↑';
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th.sort.desc span:after{
    content: '↓';
}

body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th.sort span:after{
    padding-left:3px;
}

body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table thead th.sort span:after{
    padding-right:3px;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table tbody tr{
    border-bottom: 1px solid var(--color-background);
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table tbody tr:last-child{
    border-bottom: none;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table tbody tr:hover{
    background-color:var(--color-light-gray-1) !important;
    cursor: pointer !important;
    color:var(--color-main);
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table tbody tr.selected{
    background-color:var(--color-main) !important;
    color:var(--color-reset) !important;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table tbody tr.inactive{
    background-color:var(--color-light-gray-2);
    color:var(--color-gray);
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table tbody tr.selected:hover{
    color:var(--color-border) !important;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.data table tbody td{
    padding: 6px;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom{
    border-top:1px solid var(--color-background-dark);
    color:var(--color-gray);
    min-height: 25px;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table{
    width:inherit;
    min-height: inherit;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table span{
    white-space: nowrap;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell{
    vertical-align: middle;
    min-height: inherit;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell select{
    width: 65px;
}

body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.per-page{
    padding-right:10px;
}

body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.per-page{
    padding-left:10px;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.total{
    white-space: nowrap;
    width:100%;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.total div{
    display: inline-block;
}

body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.total div:first-child{
    margin-right: 5px;
}

body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.total div:first-child{
    margin-left: 5px;
}

body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.navigation{
    padding-left:10px;
}

body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.navigation{
    padding-right:10px;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.navigation .result-bottom-nav-table .result-bottom-nav-cell{
    vertical-align: middle;
}

.ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.navigation .result-bottom-nav-table .result-bottom-nav-cell.padding{
    padding:0 5px;
}

@media screen and (min-width: 1024px) {
    .ajax-list .ajax-list-block.content{
        margin-top:10px;
    }

    body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.per-page{
        padding-right:20px;
    }

    body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.per-page{
        padding-left:20px;
    }

    body.ltr .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.navigation{
        padding-left:20px;
    }

    body.rtl .ajax-list .ajax-list-block.content .ajax-content-layer.results .ajax-results .ajax-result.bottom .result-bottom-table .result-bottom-cell.navigation{
        padding-right:20px;
    }
}
