.tabs{
    width:inherit;

    .tab-block{
        width: inherit;

        &.navigation{
            .table{
                .cell{
                    vertical-align: middle;

                    &.title{
                        background-color:var(--color-main);
                        color:var(--color-reset);
                        cursor: pointer;
                        border-style:solid;
                        border-color:var(--color-main);
                        border-width:1px 1px 0;
                        -webkit-border-top-left-radius:5px;
                        -webkit-border-top-right-radius:5px;
                        -moz-border-radius-topleft:5px;
                        -moz-border-radius-topright:5px;
                        border-top-left-radius:5px;
                        border-top-right-radius:5px;
                        white-space: nowrap;
                        padding:4px 12px 7px;

                        &.active{
                            color:var(--color-main);
                            background-color: var(--color-reset);
                            border-color:var(--color-dark-blue);
                            cursor: default;
                        }
                    }

                    &.space{
                        min-width:8px;
                        border-bottom:1px solid var(--color-dark-blue);
                    }

                    &.last{
                        width:100%;
                        border-bottom:1px solid var(--color-dark-blue);
                    }
                }
            }
        }

        &.items{
            .tab{
                width:inherit;
                border-style: solid;
                border-color:var(--color-dark-blue);
                border-width: 0 1px 1px;
                display:none;

                .table.tab-item-table{
                    .cell.tab-item-cell{
                        vertical-align: top;
                        padding:10px;
                        width: inherit;
                    }
                }
            }
        }
    }
}
