.tabs{
    width:inherit;

    .tab-block{
        width:inherit;

        &.navigation{
            .table{
                border-collapse:separate;

                .cell{
                    vertical-align:middle;

                    &.title{
                        background-color:var(--color-main);
                        color:var(--color-reset);
                        cursor:pointer;
                        white-space:nowrap;
                        padding:4px 12px 7px;
                        border-radius:5px 5px 0 0;
                        border-top:1px solid transparent;
                        border-left:1px solid transparent;
                        border-right:1px solid transparent;
                        border-bottom:1px solid var(--color-dark-blue);

                        &.active{
                            color:var(--color-main);
                            background-color:var(--color-reset);
                            border-top:1px solid var(--color-dark-blue);
                            border-bottom:1px solid transparent;
                            border-left:1px solid var(--color-dark-blue);
                            border-right:1px solid var(--color-dark-blue);
                            cursor:default;
                        }
                    }

                    &.space{
                        min-width:8px;
                        border-bottom:1px solid var(--color-dark-blue);
                    }

                    &.last{
                        width:100%;
                        border-bottom:1px solid var(--color-dark-blue);
                    }
                }
            }
        }

        &.items{
            .tab{
                width:inherit;
                display:none;

                .table.tab-item-table{
                    border-collapse:separate;

                    .cell.tab-item-cell{
                        vertical-align:top;
                        padding:10px;
                        width:inherit;
                        border-style:solid;
                        border-color:var(--color-dark-blue);
                        border-width:0 1px 1px;
                    }
                }
            }
        }
    }
}
