.tab-hold{
    width: inherit;
}

.tab-hold .tab-block{
    width: inherit;
}

.tab-hold .tab-block.navigation .table.tab-nav .cell.tab-cell{
    vertical-align: middle;
}

.tab-hold .tab-block.navigation .table.tab-nav .cell.tab-cell.title{
    white-space: nowrap;
    background-color:#2A3582;
    color:#fff;
    padding:4px 0 7px;
    cursor: pointer;
    border-style:solid;
    border-color:#2A3582;
    border-width:1px 1px 0;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.tab-hold .tab-block.navigation .table.tab-nav .cell.tab-cell.title.active.gray{
    background-color:#f0f0f0;
}

.tab-hold .tab-block.navigation .table.tab-nav .cell.tab-cell.title.active{
    color:#2A3582;
    background-color: #fff;
    border-color:#d0d2ff;
    cursor: default;
}

.tab-hold .tab-block.navigation .table.tab-nav .cell.tab-cell.title span{
    line-height: 100%;
    display: inline-block;
    white-space: initial;
    margin:0 12px;
}

.tab-hold .tab-block.navigation .table.tab-nav .cell.tab-cell.space{
    min-width:8px;
    border-bottom:1px solid #d0d2ff;
}

.tab-hold .tab-block.navigation .table.tab-nav .cell.tab-cell.last{
    width:100%;
    border-bottom:1px solid #d0d2ff;
}

.tab-hold .tab-block.tabs{
    position: relative;
}

.tab-hold .tab-block.tabs .tab{
    width: 100%;
    border-style: solid;
    border-color:#d0d2ff;
    border-width: 0 1px 1px;
    display:none;
}

.tab-hold .tab-block.tabs .tab.gray{
    background-color: #f0f0f0;
}

.tab-hold .tab-block.tabs .tab .table.tab-padding{
    width:inherit;
}

.tab-hold .tab-block.tabs .tab .table.tab-padding .cell.tab-padding{
    width:inherit;
    padding:10px;
}

@media screen and (min-width: 500px) {
    .tab-hold .tab-block.navigation .table.tab-nav .cell.tab-cell.title span{
        white-space: nowrap;
    }
}
